<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true"
      internalLogLevel="Warn"
      internalLogFile="${basedir}/Logs/nlog-internal.log">
  <targets>
    <target xsi:type="File"
            name="logfile"
            fileName="${basedir}/Logs/bs-auto-rec-${shortdate}.log"
            layout="${longdate} [${level:uppercase=true}] ${logger} ${message} ${exception:format=tostring}"
            encoding="utf-8"
            keepFileOpen="false"
            archiveAboveSize="10485760"
            archiveNumbering="Rolling"
            maxArchiveFiles="14" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.*" maxlevel="Info" final="true" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>
